body {
  font-family: Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

header {
  background-color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

.menu {
  display: flex;
}

.menu a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.content-section {
    background-image: url('1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    border-radius: 10px;
}

#BG_1704864465821_52117 {
  background-color: transparent; /* or whatever color you want */
  font-family: "Arial", "Helvetica", "sans-serif";
  -webkit-font-feature-settings: "swsh";
  font-feature-settings: "swsh";
}

body, html {
  height: 100%;
  margin: 0;
}

body {
    background-image: url('1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
