body {
  font-family: Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

html {
  margin: 0px;
  padding: 0px;
}

header {
  background-color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

.menu {
  display: flex;
}

.menu a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.content-section {
  display: grid;
  background-color: #f4f4f4;
  min-height: 600px;
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  position: relative;
}

.grid-container {
  display: grid;
  -webkit-grid-template-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-grid-gap: 0px 20px;
  grid-gap: 0px 20px;
}

#BG_1704872556171_27061 {
  text-align: center;
}

#BG_1704872861549_59263 {
  background-image: url("4.jpg");
  background-size: cover;
  text-align: center;
  padding: 50px;
  height: 1100px;
}

#BG_1704872861549_59263 h1 {
  margin: 0px;
  padding-top: 0px;
}

.grid-item1 {
  -webkit-grid-column: 1 / span 1;
  grid-column: 1 / span 1;
  overflow: hidden;
}

.grid-item2 {
  -webkit-grid-column: 2 / span 1;
  grid-column: 2 / span 1;
  overflow: hidden;
}

.grid-item3 {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1;
  overflow: hidden;
}

#BG_1704894385798_67511 {
  background-image: url("6.jpg");
  background-size: cover;
}

#BG_1704894436332_71109 {
  background-image: url("4.jpg");
  background-size: cover;
  width: 100%;
}

.content-section4 {
  width: 100%;
  text-align: center;
  background-color: #e4e0db;
  overflow: hidden;
}

.separator {
  height: 1px;
  background-color: #000066;
  margin: 10px auto;
}

#p {
  text-align: center;
}

#img {
  display: block;
  margin: 0px auto;
}

.content-box img {
  display: block;
  margin: 0px auto;
}

#img-container {
}

#content-section4 {
}

#content-section5 {
  background-image: url("9.jpg");
  background-size: cover;
  text-align: center;
  padding-top: 200px;
  position: relative;
}

body {
  font-family: Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

header {
  background-color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

.menu {
  display: flex;
}

.menu a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.content-section {
  display: grid;
  background-color: #f4f4f4;
  min-height: 600px;
  margin: 0px;
  padding-bottom: 0px;
  position: relative;
}

.grid-container {
  display: grid;
  -webkit-grid-template-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-grid-gap: 0px 20px;
  grid-gap: 0px 20px;
}

#BG_1704872556171_27061 {
  text-align: center;
  background-image: url("3.jpg");
  background-size: cover;
}

#BG_1704872861549_59263 {
  background-image: url("4.jpg");
  background-size: cover;
  text-align: justify;
  padding: 50px;
  font-family: "Baskerville Old Face";
  font-size: 20px;
}

.grid-item1 {
  -webkit-grid-column: 1 / span 1;
  grid-column: 1 / span 1;
  overflow: hidden;
}

.grid-item2 {
  -webkit-grid-column: 2 / span 1;
  grid-column: 2 / span 1;
  overflow: hidden;
}

.grid-item3 {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1;
  overflow: hidden;
}

#BG_1704894385798_67511 {
  background-image: url("../../Pictures/Home%20_%20Ancellbio_files/2691cb_17400c2b6c864ea995c00586dc7f7a10~mv2.jpg"), url("../../Pictures/ancell%20website/KakaoTalk_20240111_092838483_14.jpg");
  background-size: cover;
}

#BG_1704894436332_71109 {
  background-size: cover;
  width: 100%;
}


.content-section4 {
  width: 100%;
  text-align: center;
  background-color: #e4e0db;
  overflow: hidden;
}

.separator {
  width: 120px;
  border: 1px solid #000066;
  margin: 20px auto;
}

#p {
  text-align: center;
}

#img {
  display: block;
  margin: 0px auto;
}

.content-box img {
  display: block;
  margin: 0px auto;
}

#img-container {
}

#content-section4 {
}

#content-section5 {
  background-image: url("9.jpg");
  background-size: cover;
  text-align: center;
  padding-top: 200px;
  position: relative;
  padding-left: 200px;
  padding-right: 200px;
}

#content-section5::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 100px;
  background-color: rgba(0, 0, 0, 0.7);
}

.additional-image {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
}

.additional-image img {
  max-width: 100%;
  max-height: 100%;
}

#content-section5 .grid-container {
  display: grid;
  -webkit-grid-template-columns: 220px 220px 220px;
  grid-template-columns: 220px 220px 220px;
  -webkit-grid-template-rows: 200px;
  grid-template-rows: 200px;
  margin: 0px auto;
  padding: 40px;
}

.grid-item {
  position: relative;
  overflow: hidden;
  text-align: center;
  padding: 10px;
  background-color: black;
  color: white;
}

#grid-item4::before, #grid-item5::before, #grid-item6::before {
  background-color: rgba(0, 0, 8, 0.7);
}

#grid-item4 {
  background-image: url("../../Pictures/ancell%20website/KakaoTalk_20240111_092838483_09.jpg");
  background-size: cover;
  background-color: black;
}

#grid-item5 {
  background-size: cover;
  background-color: black;
  background-image: url("../../Pictures/ancell%20website/KakaoTalk_20240111_092838483_08.jpg");
}

#grid-item6 {
  background-image: url("../../Pictures/ancell%20website/KakaoTalk_20240111_092838483_07.jpg");
  background-size: cover;
  background-color: black;
}

.grid-item span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-size: 18px;
  font-weight: bold;
}

.grid-item {
  position: relative;
}

.grid-item::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.grid-item {
  overflow: hidden;
  text-align: center;
  padding: 10px;
  background-color: black;
}

h2 {
  margin: 0px;
}

#grid-item {
  padding: 20px;
  background-color: black;
}

#grid-item4 {
  background-image: url("11.jpg");
  background-size: cover;
  background-color: black;
}

#grid-item5 {
  background-size: cover;
  background-color: black;
  background-image: url("12.jpg");
}

#grid-item6 {
  background-image: url("13.jpg");
  background-size: cover;
  background-color: black;
}

#grid-item4:hover::before, #grid-item5:hover::before, #grid-item6:hover::before {
  background-color: rgba(255, 0, 0, 0.5);
}

.additional-image {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
}

.additional-image img {
  max-width: 100%;
  max-height: 100%;
}

#content-section5 .grid-container {
  display: grid;
  -webkit-grid-template-columns: 220px 220px 220px;
  grid-template-columns: 220px 220px 220px;
  -webkit-grid-template-rows: 200px;
  grid-template-rows: 200px;
  margin: 0px auto;
  padding: 40px;
}

.grid-item {
  position: relative;
  overflow: hidden;
  text-align: center;
  padding: 10px;
  background-color: black;
  color: white;
}

#grid-item4::before, #grid-item5::before, #grid-item6::before {
  background-color: rgba(0, 0, 8, 0.7);
}

#grid-item4 {
  background-image: url("11.jpg");
  background-size: cover;
  background-color: black;
}

#grid-item5 {
  background-size: cover;
  background-color: black;
  background-image: url("12.jpg");
}

#grid-item6 {
  background-image: url("13.jpg");
  background-size: cover;
  background-color: black;
}

#grid-item2 {
  background-image: url("6.jpg");
  background-size: cover;
}

.grid-item span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-size: 18px;
  font-weight: bold;
}

.grid-item {
  position: relative;
}

.grid-item::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.grid-item {
  overflow: hidden;
  text-align: center;
  padding: 10px;
  background-color: black;
}

h2 {
  margin: 0px;
}

#grid-item {
  padding: 20px;
  background-color: black;
}

#grid-item4 {
  background-image: url("11.jpg");
  background-size: cover;
  background-color: black;
}

#grid-item5 {
  background-size: cover;
  background-color: black;
  background-image: url("12.jpg");
}

#grid-item6 {
  background-image: url("13.jpg");
  background-size: cover;
  background-color: black;
}

#grid-item4:hover::before, #grid-item5:hover::before, #grid-item6:hover::before {
  background-color: rgba(255, 0, 0, 0.5);
}

#content-section5::after {
  width: 0px;
}

#content-section5 h2 {
  font-size: 50px;
  margin: 20px 0px;
}

#BG_1704895095705_87691 {
  padding: 50px;
  font-size: 18px;
}

.content-section3 {
  display: grid;
  background-color: #f4f4f4;
  min-height: 900px;
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  position: relative;
}

#BG_1704894436332_71109 {
  background-image: url("4.jpg");
  background-size: cover;
  width: 100%;
}

#h3 {
  font-size: 30px;
}

#p3 {
  font-weight: bold;
}

#h4 {
  padding-top: 100px;
  font-size: 46px;
}

#letter1 {
  font-weight: bold;
}

#p4 {
  font-size: 20px;
  margin-bottom: 0px;
}

#p5 {
  padding-left: 500px;
  padding-right: 500px;
  margin-top: 0px;
}

.content-section p {
  margin: 0px;
}

#p4, #p5 {
  margin-bottom: 10px;
}

.content-section1 {
  height: 900px;
  margin-top: 0px;
}

#BG_1704872556171_27061 h1 {
  margin: 0px;
}

#h8 {
  padding-left: 400px;
  padding-right: 400px;
}

#p4, #p4 span, #p5 {
  margin-bottom: 5px;
  padding-left: 400px !important;
  padding-right: 400px !important;
}

#p9 {
  padding-right: 400px;
  padding-left: 400px;
}

#h6 {
  font-family: "Arial", "Helvetica", "sans-serif";
  font-weight: bold;
}

#h7 {
  font-weight: bold;
}

/* Center align headers and paragraphs */
.content-section h1,
.content-section h2,
.content-section h3,
.content-section h4,
.content-section h5,
.content-section h6,
.content-section p {
  text-align: center;
}

/* Add space between headers, horizontal bars, and paragraphs */
.content-section hr {
  margin: 20px auto;
}

.content-section p,
.content-section span {
  margin-bottom: 20px;
}

/* For content-section1, adjust padding for the paragraphs */
.content-section1 p {
  padding-left: 20px;
  padding-right: 20px;
}

/* For content-section5 h2 */
#content-section5 h2 {
  margin: 20px 0;
}

/* For content-section5 after pseudo-element */
#content-section5::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #000066;
  margin: 20px 0;
}
